{% set profile_prefix = module_cfg.spring_profile | upper %}
{% for line in app_secret_content.splitlines() %}
{% if line != '# Actuator' and not line.startswith(profile_prefix ~ '_ACTUATOR_PORT=') and not line.startswith(profile_prefix ~ '_ACTUATOR_PATH=') %}
{{ line }}
{% endif %}
{% endfor %}
{{ profile_prefix }}_ACTUATOR_PORT={{ actuator_port }}
{{ profile_prefix }}_ACTUATOR_PATH={{ actuator_path }}
