[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
vars_plugins_enabled = host_group_vars,community.sops.sops
stdout_callback = default
callback_result_format = yaml
callback_format_pretty = true
timeout = 30
run_vars_plugins = start

[community.sops]
vars_stage = inventory

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
